$light: #FF963D;
$dark: #2C151D;
$primary: #b92a2e;
$secondary: #2023d8;
$info: #eee;
$success: #599b16;
$warning: #febc5f;
$danger: #c20b14;
$white : #ffff;
$borderColor : #CED4DA;

@font-face {
    font-family: 'Samim';
    src: url('Samim.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('Samim-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Samim';
    src: url('Samim-Medium.ttf');
    font-weight: 500;
}

@import '~bootstrap/scss/bootstrap.scss';

:root {
    --bs-body-font-family: 'Samim';
}
img.flipVertical {
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	float: none;
}
.dropdown-menu{
    min-width: 10px;
    max-width: 800px;
}
.selectpicker{
    min-width: 50px;
    // width: 300px;
    max-width: 800px;
}

::-webkit-scrollbar{
    width : 5px
}
::-webkit-scrollbar-track{
    background-color:#eee ;
}
::-webkit-scrollbar-thumb{
    background-color :#c20b14;
    border-radius: 25px;
}
div {
    /* This is the default, you don't need to
       explicitly declare it unless overriding
       another declaration */
       white-space: nowrap; 
  }